{% block koff_i18n_widget %}
    {{ form_errors(form) }}
    <ul class="nav nav-tabs" role="tablist">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}
            <li class="nav-item">
                <a href="#{{ translationsFields.vars.id }}-{{ locale }}" class="nav-link {% if app.request.locale == locale %}active{% endif %}" data-toggle="tab" id="{{ translationsFields.vars.id }}-{{ locale }}-tab">
                    {{ translationsFields.vars.label|default(locale|humanize)|trans }}
                    {% if form.vars.default_locale == locale %}{{ '[Default]'|trans }}{% endif %}
                    {% if translationsFields.vars.required %}*{% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <div class="tab-pane {% if app.request.locale == locale %}active{% endif %}" id="{{ translationsFields.vars.id }}-{{ locale }}" role="tabpanel">
                {{ form_errors(translationsFields) }}
                {{ form_widget(translationsFields) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block koff_i18n_forms_widget %}
    {{ block('koff_i18n_widget') }}
{% endblock %}
